html {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  font-family: "IBM Plex Mono", monospace;
  text-align: center;
}

i {
  color: #484848;
}

i.dark-mode {
  color: #fefefe;
}

body {
  width: 700px;
  border-radius: 2px;
  padding: 20px 0px;
  background-color: #f9f5f4;
  color: #484848;
}

body.dark-mode {
  background-color: #0f1421;
  color: #fefefe;
}

.home-screen-element {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 407px;
  width: 700px;
  height: 795px;
}

#logo-game {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.row1,
.row2,
.row3,
.row4 {
  display: flex;
  gap: 4px;
}

.block1 {
  width: 30px;
  height: 30px;
  border-radius: 3px;
  background-color: #d11905;
}

.block2 {
  width: 30px;
  height: 30px;
  border-radius: 3px;
  background-color: #23b1e4;
}

.block3 {
  width: 30px;
  height: 30px;
  border-radius: 3px;
  background-color: #9f43c5;
}

.block4 {
  width: 30px;
  height: 30px;
  border-radius: 3px;
  background-color: #8bd747;
}

.game-name {
  display: block;
  font-size: 2.5em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.game-screen-element {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#game-options {
  display: flex;
  justify-content: space-between;
  width: 400px;
  padding-top: 30px;
  padding-bottom: 50px;
}

#score {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.restart-button-game-screen {
  border-style: none;

  background-color: transparent;
  font-size: 1.2em;
}

#mode-button {
  border-style: none;
  background-color: transparent;
  font-size: 1.6em;
}

#board {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 3px;
  width: 450px;
  background-color: #f9f5f4;
}

#board.dark-mode {
  background-color: #0f1421;
}

#random-pieces {
  display: flex;
  align-items: center;
  gap: 50px;
  height: 250px;
}

.new-row-blocks {
  display: flex;
}

#restart-game {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
#end-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

#restart-screen-element,
#end-screen-element {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  height: 350px;
  width: 300px;
  border-radius: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f9f5f4;
  color: #484848;
}

/* #end-screen-element.dark-mode {
  background-color: #0f1421;
  color: #fefefe;
} */

.restart-message,
.end-message {
  font-size: 1.5em;
}

#yes-button,
#no-button {
  font-size: 1em;
  color: white;
  width: 80px;
  height: 50px;
  border-radius: 50px;
  background-color: #03c7b6;
  border: none;
}

.restart-button-game-over {
  font-size: 1em;
  color: white;
  width: 165px;
  height: 57px;
  border-radius: 50px;
  background-color: #03c7b6;
  border: none;
}
